@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* HEADER LIVRAISON */

*{
    font-family: lato;
    margin: 0px;
    font-size: 15px;
}

h1{
    font-family: noto;
}

h4{
    font-family: noto;
    font-size: 20px;
    color: white;

}

.headliv{
    background-color: #d0b29e;
    padding: 15px 0px 15px 0px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* header MENU  */

.imagebackground{
    background-image: url(../img/Nyssae-banniere-header.svg);
    background-position: center;
    height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.textmenu{
    font-size: 28px;
    font-weight: 800;

}

.headlogo{
    height: 100px;
}

    /* MAIN  */

.blogline{
    display: flex;
    justify-content: space-around;
}

.blogline img{
    height: 500px;    
}

.blogline p,
.blogline h2{
    text-align: center;
}



/* FOOTER */
a{
    text-decoration-line: none;
    color: white;
}

.footer1{
    background-color: #d0b29e;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    height: 150px;
}

.logors{
    height: 30px;
}

.blocfoottitle{
    display: flex;
    justify-content: center;
}

.footparag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;

}

.rsparag{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}