
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
.icone1 
 {height: 50px;}

 body {margin: 0;}

 .header {
    position: relative;
    
 }
 .imgcouverture 
 {
    width: 1440px;
    height: 580px;
 }

 .header-content {
	top: 60px;
	right: 30px;
	display: flex;
	position: absolute;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
   
}

.header-content img {
    width: 240px;
    margin: 0 auto;
    display: block;
    width: 450px;
    height: 150px;
}

 .header-content h1 {
    width: 415px;
    text-align: center;
    color: #FFFFFF;
    top: 100%;
    font-family: 'Noto+Serif';
}

 
 .entete { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto+Serif+Display&display';
}

 .titre1 
 {
    color: #4e2718;
    margin: 20px;
    align-items: center;
}

 .p1 
 {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    color: black;
    font-family: "Lato";
    font-size: 15px;
    letter-spacing: 1,5px;
    line-height: 30px;
    font-size: 100%;
}

 .img1 
 {
    align-items: flex-end;
}

 .milieu 
 {
    display: flex;
    justify-content: space-between;
    background-color: #fff0e5;
    margin:0px 100px 0px 100px;
    align-content: center;
    text-align: center;
}

 .image10ml
 {
    height: 350px;
    width: 250px;
    margin: 10px 5px 0px 0px;
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.5);
    
 }

 .image30ml 
 {
    height: 350px;
    width: 250px;
    margin: 10px 5px 0px 0px; 
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.5);
 }
 
 .image50ml 
 {
    height: 350px;
    width: 250px;
    margin: 10px 5px 0px 0px;
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.5);

 }




 .titre2 
 {
    display: flex;
    justify-content: center;
    color: #4e2718;
    margin: 20px 0px 15px 0px;
    background-color: #fff0e5;
    padding: 20px 0px 0px 0px ;
}

 .p2 
 {
    background-color: #fff0e5 ;
    margin: 40px 0px 0px 0px;
}


 .panier1, .panier2, .panier3
 {
    color: #fff0e5;
    background-color: #4e2718;
    padding: 10px 10px 10px 10px;
    margin: 5px 120px 25px 120px;
    border-radius: 10px;
}

 .etoile 
 {
    height: 15px;
    width: auto;
}





.titre3 
{display: flex;
    justify-content: center;
    color: #4e2718;
    margin: 20px 0px 0px 0px;
    background-color: white;
    padding: 20px 0px 0px 0px ;}

.milieu2 
{display: flex;
    justify-content: space-between;
    background-color: white;
    align-content: center;
    text-align: center;
margin: 30px 100px 0px 100px;
}

.imgcoffret1 
{
    margin: 10px 20px 0px 40px ;
    width: 450px;
    height: 250px;
    padding-left: 40px;
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.1);
}

.imgcoffret2 
{
    margin: 10px 60px 0px 0px ; 
    width: 450px;
    height: 250px;
    padding-left: 40px;
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.1);
}

.description
{
    color: #4e2718;
    font-family: "fantasy";
}
   



.titre4 
{ display: flex;
    justify-content: center;
    color: #4e2718;
    margin: 20px 0px 0px 0px;
    background-color: white;
    padding: 20px 0px 0px 0px ;
background-color: #fff0e5;}

.milieu3
{display: flex;
    justify-content: space-between;
    background-color: #fff0e5;
    padding: 30px 150px 0px 150px;
    align-content: center;
    text-align: center;
}
    

.pochon{
    /* color: #fff0e5; */
    height: 280px;
    width: 260px;
    margin: 10px 5px 0px 0px;
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.5);
}
    
.pierre 
{
    height: 280px;
    width: 260px;
    margin: 10px 5px 0px 0px;
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.5);
}

.pierrehuile 
{
    height: 280px;
    width: 260px;
    margin: 10px 5px 0px 0px;
    box-shadow: 5px 5px 5px rgba(78, 39, 24, 0.5);
}





