@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Noto = TITRE */
/* Lato = Corps du texte */

*{
    font-family: lato;
    margin: 0px;
    font-size: 15px;
}

h1{
    font-family: noto;
}

h4{
    font-family: noto;
    font-size: 20px;
    color: white;

}

.headliv{
    background-color: #d0b29e;
    padding: 15px 0px 15px 0px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Texte de bienvenue header  */

header.header {
    display: flex;
    align-items: center;
    
}

header.header img {
    width: 35px;
}

section.top-page {
    background: url("../img/Nyssae-banniere-header.svg");
    background-size: cover;
    height: 70vh;
    width:100%;
    padding: 25px;
}


.big-title{
    color: white;
    display: flex;
    align-items: right;
    font-size: 40px;
    font-family: Noto Serif Diplay;
    padding: 100px 10px;
    flex-wrap: wrap;
    
}

a.bouton1 {
    display: inline-block;
    background-color: #4E2718;
    border-radius: 20px;
    border: 4px;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 10PX 10px 10px 10PX;
    width: 200px;
    cursor: pointer;
    margin: 0%;
  }

a.bouton1:hover {
    background-color:#d0b29e ;
  }

nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 400px ;
}

.nav li a{
    text-decoration: none ;
    color: white;
}

li a:hover{ 
    color:#d0b29e;
    text-decoration:double;
}

.LogoNyssaé{
    width: 70px;
    height: 50px;
    display: 10px;
}

/* FOOTER  */

a{
    text-decoration-line: none;
    color: white;
}

.footer1{
    background-color: #d0b29e;
    display: flex;
    justify-content: space-around;
    padding-top: 20px 100px;
    height: 150px;
}

.logors{
    height: 30px;
}

.blocfoottitle{
    display: flex;
    justify-content: center;
}

.footparag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;

}

.rsparag{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}