@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Noto = TITRE */
/* Lato = Corps du texte */

*{
    font-family: lato;
    margin: 0px;
}

h1{
    font-family: noto;
}

.headliv{
    background-color: #d0b29e;
    padding: 15px 0px 15px 0px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer1{

}

a{
    text-decoration-line: none;
    color: black;
}