*{
    background-color: #fff0e5;
    color: white;

}
h1{
    color: #4e2718;
}

#carte{
    width: 600px;
    margin: 0 auto;
    background-color: white;
    text-align: leftcenter;
    align-content: center;
}