*{
    background-color: #fff0e5;
    color: white;

}
h1{
    color: #4e2718;
}


p{
    color: #4e2718;
}




.image{
    border: 2px black solid;
    border-radius: 10px;
    height: 250px

}

.part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 50px 0px 50px ;
}
.part1para{
margin: 0px 50px 0px 0px;

}

.part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 50px 0px 50px ;
}

.part2para{
    margin: 0px 50px 0px 0px;
    
    }