@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Section : boutique */
.ventes{
display: flex;
justify-content:space-around;
align-items: center;
}

.colonnes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-ventes{
    height: 200px;
    width: auto;
    justify-content: space-around 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bestventes{
font-family: noto serif display;
font-style:bold;
font-size: larger;
color: #d0b29e;

}

a.boutons2{
    display: inline-block;
    background-color: #4E2718;
    border-radius: 20px;
    border: 4px;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 10PX 10px 10px 10PX;
    width: 200px;
    cursor: pointer;
    margin: 0%;
  }

a.bouton2:hover {
    background-color:#d0b29e ;
  }

/* Section engagement de la marque */
.colonnes-engagements{
    display: flex;
    justify-content:center space-around ;
    align-items:center ;
    background-color: antiquewhite;
    }

    .img-engagements{
        height: 100px;
        width: auto;
        justify-content: space-around 10px;
    }

    .engagements{
        font-family: noto serif display;
        font-size:  20px;
        color: #4E2718;
        background-color: antiquewhite;
    }

    .sous-titre-engagement{
        background-color: antiquewhite;
    }

    .colonnes2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around 10px;
        flex-wrap: wrap;
    }



    /* Bannière Nyssaé 2 */

    container2 {
        position: relative;
      }
      
      .text2 {
        position:relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff; /* Couleur du texte */
        font-size: 24px; /* Taille de police */
        text-align: center; /* Alignement du texte */
        flex-wrap: wrap;
      }

    .landing-page2{
        background-image: url(../img/nyssae-mon-essentiel2.svg);
        background-position: center;
        height: 350px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
    
      }

      .provenance-titre{
        font-family: noto serif display;
        font-style:bold;
        font-size: 25px;
        color: #d0b29e;
      }

      .provenance-text{
        flex-wrap: wrap;
      }

      .imgiconlogo{
        height: 40PX;
      }

      /* Bannière 3 : avantages*/
      .avantages-nyssae{
        background-color: #F4EFEF;
        display: flex;
    justify-content:center space-around ;
    align-items:center ;
      }

      .colonnes3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around 10px;
        flex-wrap: wrap;
      }

      .img-avantages{
        height: 100px;
        width: auto;
        justify-content: space-around 10px;
      }

